＊{
    padding:0;
    margin:0;
}
li{
    list-style:none;
}
a{
    text-decoration: none;
}

header{
    width:100%;
    text-align: center;
    border-bottom: 1px solid #000;
    height:90px;
    
}

header a{
    padding:0 15px;
    font-size:18px;
    font-weight:bold;
    color:black;
    line-height:80px;
    opacity: 0.7;
    display:inline-block;
    letter-spacing: 1px;
}
header li:hover{
    opacity: 1;
    cursor:pointer;
}

.main-wrapper{
    height:300px;
    padding:150px;
    text-align: center;
    background-color:grey;
    opacity:0.8;
    letter-spacing: 5px;
}
.main-wrapper h1{
    font-size:60px;
    height:60px;
}
.main-wrapper h4{
    font-size:20px;
}
section{
    width:920px;
    margin: 0 auto;
}
.logo{
    text-align: center;
    padding:50px;
}
.works-head{
    text-align: center;
    font-size:18px;
}

.icon {
    display: inline-block;
    width: 45%;
    margin-left:20px;
}

.icons img{
    width:45%;
    padding-left:100px;
}
.icons p{
    text-align: center;

}
.oriana{
    margin-left:20%;
}
.cass{
    margin-left:10%;
}
.vs img{
    height:150px;
}
.vs p{
    display: inline-block;
    font-size:30px;
    padding-left:100px;
}

.hobby h3{
    text-align: center;
    font-weight: normal;
}
.lol{
    width:500px;
    padding-right:50px;
}
.handball{
    width:200px;
}
.hobby img{
    padding-top: 20px;
}
.skills {
    display:inline-block;

    margin:0 auto;

}
.skills img{
    height:150px;
   
}

.future p{
    text-align: center;
}
