＊{
    padding:0;
    margin:0;
}
li{
    list-style:none;
}
a{
    text-decoration: none;
}

header{
    width:100%;
    text-align: center;
    border-bottom: 1px solid #000;
    height:90px;
    
}

header a{
    padding:0 15px;
    font-size:18px;
    font-weight:bold;
    color:black;
    line-height:80px;
    opacity: 0.7;
    display:inline-block;
    letter-spacing: 1px;
}
header li:hover{
    opacity: 1;
    cursor:pointer;
}

.main-wrapper{
    height:300px;
    padding:150px;
    text-align: center;
    background-color:grey;
    opacity:0.8;
    letter-spacing: 5px;
}
.main-wrapper h1{
    font-size:60px;
    height:60px;
}
.main-wrapper h4{
    font-size:20px;
}
section{
    width:920px;
    margin: 0 auto;
}
.logo{
    text-align: center;
    padding:100px;
}
.works-head{
    text-align: center;
    font-size:18px;
}

.icons img{
    width:45%;
}
.icons p{
    width:45%;
    text-align: left;

}



.hobby img{
    width:25%;



}
.SKILLS img{
    width:25%;
}
